@{
    ViewData["Title"] = "Quoting Dojo";
}
<form action="/" method="get">
    <input type="submit" value="Submit a quote!"/>
</form>
<h2>Here are some awesome quotes!</h2>
@{
    @for(int i = 0; i < @ViewBag.allquotes.Count; i++)
    {
        <p>
            @ViewBag.allquotes[i]["quote"]
        </p>
        <p>
            @{DateTime time = @ViewBag.allquotes[i]["created_at"];}
            - @ViewBag.allquotes[i]["name"] at @time.ToString("h:mmtt MMMM d yyyy")
        </p>
    }
}